
body.show-breakpoints::after {
	background: #d9534f;
	color: #fff;
	content: "LG";
	font-family: monospace;
	font-size: 11px;
	font-weight: 700;
	padding: 2px 4px;
	position: fixed;
	bottom: 10px;
	right: 10px;
	text-align: center;
	z-index: 100000;
	-webkit-font-smoothing: antialiased;
}

@media (max-width: 1199px) {
	body.show-breakpoints::after {
		content: "MD";
	}
}
@media (max-width: 991px) {
	body.show-breakpoints::after {
		content: "SM";
	}
}
@media (max-width: 767px) {
	body.show-breakpoints::after {
		content: "XS";
	}
}

a:link {
	color: #000;
}

a:visited {
	color: #000;
}

a:hover {
	color: #000;
}

a:active {
	color: #000;
}

.navbar {
	background-image: -webkit-linear-gradient(#000 0%, #000 100%);
	background-image: -o-linear-gradient(#000 0%, #000 100%);
	background-image: linear-gradient(#000 0%, #000 100%);
	background-repeat: repeat-x;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#ffdfdfdf', GradientType=0);
	border-color: #fff;
	margin-bottom:32px;
	font-size: 18px;
	height:auto;
}

.navbar-brand {
	width:110px;
	height:50px;
	overflow: hidden;
	padding:0;
}

.navbar-static-top {
	margin-bottom: 4px;
}

.navbar-brand img{
	width:290px;
	height:auto;
	padding:0;
	max-width: none;
}

.h1, h1 {
	font-size: 26px;
}

@media (min-width: 768px) {
	.navbar-brand{
		width:75%;
	}
	.navbar-brand img{
		width:100%;
		height:auto;
		max-width: 100%;
	}
}

#main-text {
	margin-top:75px;
}

body {
	font-family: 'Droid Sans', sans-serif;
}

.art-item {
	margin:30px auto;
	max-width: 480px;
}

.art-item:hover {
		-webkit-filter: none;
		-moz-filter: none;
		-ms-filter: none;
		filter: none;
}

.art-item h4 {
	float: left;
	padding-left: 20px;
	padding-top: 30px;
	width: 60%;
	font-weight:bold;
}

.art-item:hover h4{
	opacity: 1;
	bottom: 0;
}
.art-item small {
	display:block;
	margin-top: 6px;
	color: #bdc3c7;
}

.art-item img {
	width:40%;
	height:auto;
	float: left;
	border: 4px solid #999;
}

@media (min-width: 480px){
	.art-item h4 {
		font-size: 20px;
		padding-top: 40px;
	}
	.blurb_text {
		font-size: 14px;
	}
	.blurb_name {
		font-size: 28px;
}
	.owl-demo div h2 {
		font-size: 12px;
	}
}

@media (min-width: 768px){
	.art-item {
		position: relative;
		overflow: hidden;
		border:8px solid black;
		filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale"); /* Firefox 10+, Firefox on Android */    
		-webkit-filter: grayscale(30%);
		-moz-filter: grayscale(30%);
		-ms-filter: grayscale(30%);
		filter: grayscale(30%);
		filter: gray; /* IE 6-9 */
	}
	.art-item h4 {
		position: absolute;
			right: 0;
			bottom:-100%;
			left:0;
		font-size: 20px;
		float: none;
		width: auto;
		text-align:center;
		background-color:#000;
		background-color:rgba(0,0,0,.85);
		color:#fff;
		margin:0;
		padding:10px;
		opacity: 0;
		transition:opacity .2s, bottom .2s;
	}
	.art-item img {
		width: 100%;
		border:0;
	}
	.blurb_text {
		font-size: 20px;
	}
	.blurb_name {
		font-size: 30px;
	}
}

@media (min-width: 1200px){
	.art-item h4 {
		font-size: 24px;
	}
	.blurb_text {
		font-size: 24px;
	}
	.blurb_name {
		font-size: 32px;
	}
}


.blurb_text {
	font-size: 14px;
	padding: 0px 0px 5px;
}

h4 {
	text-align: left;
	color:#7f8c8d;
	margin:0px;
	padding: 0px;
}

.blurb_art {
	border:8px solid black;
	margin:5px auto 10px;
	overflow: hidden;
}

.blurb_art h1{
	position: relative;
	font-size: 14px;
	text-align:right;
	background-color:#000;
	background-color:rgba(0,0,0,.85);
	color:#fff;
	margin:0;
	padding:0px;
}

.tall-item {
	height: auto;
	width: auto;
	padding-bottom: 10px;
	margin-top: 20px;
}

.footer {
	padding: 30px 0;
	background-image: linear-gradient(#ecf0f1,#fff);
	margin-top: 25px;
}

@media (min-width: 768px) {
	.footer {
		padding: 60px 0;
		margin-top: 60px;
	}
}

.footer-text {
	font-size: 12px;
	padding: 2px;
	text-align: center;
}

.owl-demo .owl-item div{
	padding:5px;
}

.owl-demo .owl-item img{
	display: block;
	width: 100%;
	height: auto;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}

.owl-item div h2{
	position: relative;
	font-size: 16px;
	text-align:right;
	background-color:#000;
	background-color:rgba(0,0,0,.85);
	color:#fff;
	margin:0;
	padding:14px;
}

.row {
	padding-bottom: 4px;
	margin: 10px 0px;
	padding-top: 4px;
}

#owl-demo .item{
	margin: 3px;
}
#owl-demo .item img{
	display: block;
	width: 100%;
	height: auto;
}

.modal-backdrop.in {
		-webkit-opacity: 0.95;
		-moz-opacity: 0.95;
		opacity: 0.95;
		background-color: #333333;
}
.ekko-lightbox .modal-content {
		-webkit-box-shadow: none;
		-moz-box-shadow: none;
		box-shadow: none;
		-webkit-border-radius: 0;
		-moz-border-radius: 0;
		border-radius: 0;
		border: none;
		background-color: transparent;
}
.ekko-lightbox .modal-header {
		border: 0;
		padding-left: 0;
		padding-right: 0;
}
.ekko-lightbox .modal-header .close {
		-webkit-opacity: 0.5;
		-moz-opacity: 0.5;
		opacity: 0.5;
		color: #fff;
		text-shadow: 0;
		font-weight: 100;
		margin-top: 5px;
}
.ekko-lightbox .modal-header .close:hover {
		-webkit-opacity: 1;
		-moz-opacity: 1;
		opacity: 1;
}
.ekko-lightbox .modal-header h4.modal-title {
		font-weight: 100;
		color: #fff;
		padding: 0;
}
.ekko-lightbox .modal-body {
		padding: 0;
}
.ekko-lightbox .modal-footer {
		-webkit-opacity: 0.9;
		-moz-opacity: 0.9;
		opacity: 0.9;
		border: 0;
		color: #fff;
		font-weight: 100;
		padding: 0;
}
.ekko-lightbox-nav-overlay a {
		-webkit-opacity: 0.9;
		-moz-opacity: 0.9;
		opacity: 0.9;
		text-shadow: none;
}

hr {
	border-bottom: 1px solid #ddd;
}