<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Built and tested a step-by-step recipe feature that could be easily followed by users during a Design Sprint.">
    <meta name="author" content="Mac Fullerton, UX/UI and Digital Designer">
    <meta property="og:image" content="/images/savr_card.jpg">
    <link rel="icon" href="/favicon.ico">
    <title>Savr Design Sprint Case Study | Mac Fullerton Portfolio</title>
    <link href="https://fonts.googleapis.com/css?family=Fira+Sans:400,600,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,700" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/lightbox.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="/js/util.js"></script>
    <script src="/js/carousel.js"></script>
    <script src="/js/script.js"></script>
    <script src="/js/lightbox-plus-jquery.min.js"></script>
</head>
