<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    {% include header.html %}

    <div class="page-content">
      <div class="wrapper">
        {{ content }}
      </div>
      <div class="page_bottom">
      <button onclick="topFunction()" id="toppage"><i class="fa fa-angle-up fa-3x"></i></button>
        <div class="work-nav-container">
          <ul class="work-nav">
            <a href="/psusocialmedia/"><li>PSU Social Media</li></a>
            <a href="/psuadmissions/"><li>PSU Admissions</li></a>
            <a href="/psuprogramvideos/"><li>PSU Program Videos</li></a>
            <a href="/psuceslife/"><li>PSU CESLife</li></a>
            <a href="/psuadvancement/"><li>PSU Advancement</li></a>
            <a href="/psuacademicprograms/"><li>PSU Academic Programs</li></a>
            <a href="/psualumni/"><li>PSU Alumni Relations</li></a>
            <a href="/photography/"><li>PSU Photography</li></a>
            <a href="/grandhotels/"><li>Grand Hotels of the White Mountains</li></a>
            <a href="/psuathletics/"><li>PSU Athletics</li></a>
            <a href="/tidbit/"><li>Tidbit Crackers</li></a>
            <a href="/aebrochure/"><li>Arts &amp; Events at PSU</li></a>
            <a href="/sidore/"><li>Sidore Lecture Series</li></a>
            <a href="/peoplesforest/"><li>The People's Forest</li></a>
            <a href="/psumagazine/"><li>Plymouth Magazine</li></a>
            <a href="/psucatalog/"><li>Academic Catalog</li></a>
          </ul>
        </div>
      </div>
    </div>

    {% include footer.html %}

  </body>
</html>
